from typing import Any, Sequence

from sqlalchemy.ext.asyncio import AsyncSession

from backend.app.{{ app_name }}.crud.crud_{{ filename }} import {{ table_name }}_dao
from backend.app.{{ app_name }}.model import {{ class_name }}
from backend.app.{{ app_name }}.schema.{{ filename }} import Create{{ schema_name }}Param, Delete{{ schema_name }}Param, Update{{ schema_name }}Param
from backend.common.exception import errors
from backend.common.pagination import paging_data


class {{ class_name }}Service:
    """{{ doc_comment }} service"""

    @staticmethod
    async def get(*, db: AsyncSession, pk: int) -> {{ class_name }}:
        """
        Get {{ doc_comment }}

        :param db: Database session
        :param pk: {{ doc_comment }} ID
        :return:
        """
        {{ table_name }} = await {{ table_name }}_dao.get(db, pk)
        if not {{ table_name }}:
            raise errors.NotFoundError(msg='{{ doc_comment }} does not exist')
        return {{ table_name }}

    @staticmethod
    async def get_list(*, db: AsyncSession) -> dict[str, Any]:
        """
        Get {{ doc_comment }} list

        :param db: Database session
        :return:
        """
        {{ table_name }}_select = await {{ table_name }}_dao.get_select()
        return await paging_data(db, {{ table_name }}_select)

    @staticmethod
    async def get_all(*, db: AsyncSession) -> Sequence[{{ class_name }}]:
        """
        Get all {{ doc_comment }}

        :param db: Database session
        :return:
        """
        {{ table_name }}s = await {{ table_name }}_dao.get_all(db)
        return {{ table_name }}s

    @staticmethod
    async def create(*, db: AsyncSession, obj: Create{{ schema_name }}Param) -> None:
        """
        Create {{ doc_comment }}

        :param db: Database session
        :param obj: {{ doc_comment }} creation parameters
        :return:
        """
        await {{ table_name }}_dao.create(db, obj)

    @staticmethod
    async def update(*, db: AsyncSession, pk: int, obj: Update{{ schema_name }}Param) -> int:
        """
        Update {{ doc_comment }}

        :param db: Database session
        :param pk: {{ doc_comment }} ID
        :param obj: {{ doc_comment }} update parameters
        :return:
        """
        count = await {{ table_name }}_dao.update(db, pk, obj)
        return count

    @staticmethod
    async def delete(*, db: AsyncSession, obj: Delete{{ schema_name }}Param) -> int:
        """
        Delete {{ doc_comment }}

        :param db: Database session
        :param obj: {{ doc_comment }} ID list
        :return:
        """
        count = await {{ table_name }}_dao.delete(db, obj.pks)
        return count


{{ table_name }}_service: {{ class_name }}Service = {{ class_name }}Service()
